html {
    scroll-behavior: smooth;
}

.emoji input {
    display: none;
}

.emoji label {
    font-size: 2rem;
    cursor: pointer;
    padding: 5px;
}

.emoji input:checked+label {
    background-color: rgb(41, 136, 138);
}
@media screen and (max-width: 768px) {
    #ss {
      font-size: 12px;
    }
  }
  
  @media screen and (max-width: 480px) {
    #ss {
      font-size: 10px;
    }
  }
.nav_menu {
    display: flex;
}

.nav_link {
    display: flex;
}

.iti--allow-dropdown input {
    padding-left: 50px;
    background-color: black;
    /* Adjust padding to prevent overlap */
}

.iti.iti--allow-dropdown {
    margin-left: 250px;
}

.container {
    display: unset;
    align-items: center;
    /* justify-content: space-between; */
    flex-wrap: nowrap;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    gap: 25px;
}
.services .icon-box{
    height: 400px;
    width: 300px;
}
.content {
    text-align: left;
    flex: 1;
    padding: 20px;
}

.sec-img {
    max-width: 50%;
    width: 600px;
    height: 600px;
    margin-left: auto;
}

.btn-get-started {
    display: inline-block;
    background-color: #3fbcc0;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.btn-get-started::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #000;
    background-color: #55a5ea;
    transition: width 0.3s ease;
    z-index: -1;
}
select {
    padding: 1px;
    background-color: #55a5ea;
    color: white;
    height: 5vh;
    width: 17vh;
}

option {
    background-color: #55a5ea;
    color: white;
}

.hamburger {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 29px;
    left: 1.5%;
}

.line {
    width: 30px;
    height: 5px;
    margin: 4px 4px;
    background-color: white;
}
.img p{
    display: none;
}
@media (max-width: 820px) {
    .nav_menu {
      flex-direction: column;
    }
  
    .hamburger {
      display: flex;
    }
  
    .mobile-logo-text {
      display: block;
    }
  
    .nav_link {
      display: none;
      flex-direction: column;
      position: fixed;
      top: 60px;
      right: 0;
      background-color: #022a2d;
      width: 40% !important;
      padding: 20px;
      z-index: 10;
      box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    }
  
    .nav_link.active {
      display: flex;
    }
  
    .nav_link li {
      margin: 10px 0;
    }
  
    .nav_link a {
      font-size: 1.2em;
    }
  
    .nav_link .btn1 {
      width: 100%;
      text-align: center;
    }
  }

@media (max-width: 880px) {
    .nav_menu {
      flex-direction: column;
    }
  
    .hamburger {
      display: flex;
    }
  
    .mobile-logo-text {
        display: inline-block;
        color: white;
        font-weight: bold;
        margin-left: 50px;
        margin-right: 23rem;
        font-size: 40px;
    }
    #rd-logo {
        margin-left: 21rem;
        margin-right: -6rem;
    }
  
    .nav_link {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 60px;
        left: 20px;
        margin-top: 37px !important;
        background-color: #022a2d;
        width: 40% !important;
        padding: 20px;
        z-index: 10;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    }
  
    .nav_link.active {
      display: flex;
    }
  
    .nav_link li {
      margin: 10px 0;
    }
  
    .nav_link a {
      font-size: 1.2em;
    }
  
    .nav_link .btn1 {
      width: 100%;
      text-align: center;
    }
  }

@media (max-width: 768px) {
    .nav_menu {
      flex-direction: column;
      margin-left: 0;
    }
  
    .hamburger {
      display: flex;
    }
  
    .mobile-logo-text {
      display: block;
    }
  
    .nav_link {
      display: none;
      flex-direction: column;
      position: fixed;
      top: 60px;
      left: 0px;
      background-color: #022a2d;
      width: 45% !important;
      margin-top: 30px;
      padding: 20px;
      z-index: 10;
      box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    }
  
    .nav_link.active {
      display: flex;
    }
  
    .nav_link li {
      margin: 10px 0;
      font-size: 18px;

    }
  
    .nav_link a {
      font-size: 1.2em;
    }
  
    .nav_link .btn1 {
      width: 100%;
      text-align: center;
    }
  }

/*Preloader CSS*/
.pre {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 2s ease-out, visibility 2s ease-out;
    opacity: 1;
    visibility: visible;
    z-index: 9999;
}

.pre--hidden {
    opacity: 0;
    visibility: hidden;
}

.loader {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #55a5ea;
    animation: spin 3s linear infinite;
}

.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3fbcc0c6;
    animation: spin 3s linear infinite;
}

.loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.avatar {
    margin: 20px 100px;
    padding-left: 50px;
    padding-right: 60px;
}

.textbox input {
    width: 240px;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    align-items: center;
    margin-left: 10px;
    margin-right: 20px;
}

.btn {
    margin-left: 4px;
    width: 240px;
    height: 40px;
    background-color: #00C896;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    margin-bottom: 20px;
}
.btn:hover{
    background-color: #36b0b3;
}
.btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #000;
    background-color: #55a5ea;
    transition: width 0.3s ease;
    z-index: -1;
}
#appointment.appointment.section-bg {
    margin: 0px 280px 100px;
}

#appointment.appointment.section-bg h2 {
    margin: 0px 115px;
}

form.php-email-form {
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}



/* Appointment section Styling to align it to center */
.appointment .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center container contents */
    border-radius: 10px;
    margin: auto;
}

.appointment form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center form contents */
    width: 100%;
    max-width: 500px;
}

.appointment .form-group {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.appointment input,
.appointment select,
.appointment button {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

.appointment .text-center {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.appointment button[type="submit"] {
    width: auto;
    padding: 10px 20px;
    display: block;
    margin: 0 auto;
}

.php-email-form .form-control,
.php-email-form .form-select {
    border: none;
    margin: 0;
    padding: 10px;
}

.php-email-form .form-group,
.php-email-form .row {
    margin: 0;
    padding: 10px;
}

#name,
#email {
    margin-bottom: 10px;
    border-bottom: none;
    width: 100%;
}

#email,
#location {
    border-top: 1px solid #ccc;
    /* Adjust color as needed */
    margin-top: 0;
}

/* Remove <br> tags if present in HTML */
#name+br,
#email+br {
    display: none;
}

.section-bg {
    background-color: #1c413b;
    width: 700px;
    padding: 40px;
}

#appointment.appointment.section-bg {
    margin: auto;
}

select {
    padding: 1px;
    background-color: #f8f8f8;
    color: #374151;
    height: 7vh;
    width: 17vh;
}



#progressBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 6px;
    background-color: #3fbcc0;
    z-index: 9999;
}

.contact .php-email-form {
    width: 200%;
}

.contact .php-email-form .form-group {
    width: 600px;
}

@media (max-width: 768px) {
    body {

        width: 163vw !important;
    }

    .header_container {
        width: 163vw;
        height: 6rem !important;
        width: -webkit-fill-available !important;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }
    .nav-h .nav_link{
      display:none !important;
    }

    .nav_menu {
        height: auto;
    }
  
  #rd-logo {
    display: table-row;
    margin-right: -4rem !important;
    margin-left: 25rem !important;
  }

    .container {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column-reverse;
        padding: 10px;
    }

    .about-service {
        height: auto !important;
        width: auto !important;
        margin-left: 0px !important;
        margin-top: 0px !important;
        flex-direction: column;
    }

    .count-box {
        padding: 76px;
        font-size: 24px;
    }

    .appointment .container {
        display: flex !important;
        justify-content: center !important;
        align-content: center !important;
    }

    .mt-2 {
        display: flex;
        align-items: stretch !important;
        justify-content: space-around !important;
        align-content: center !important;
        gap: 40px !important;
        margin-top: 70px !important;
    }

    .appointment form {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        width: 100% !important;
        max-width: 500px !important;
    }

    .appointment .form-group {
        width: 100% !important;
        display: flex !important;
        justify-content: center !important;
        margin-bottom: 15px !important;
    }

    footer {
        width: 168vw !important;
        padding: 40px !important;
        margin: auto !important;
    }

    #appointment.appointment.section-bg {
        margin: 15px;
    }

    .testimonial-contains {
        padding: 10px !important;
    }

    .swiper-slide .testimonals-item {
        width: 476px !important;
    }

    .other-columns {
        grid-template-columns: repeat(3, 3fr);

    }

    .form.php-email-form {
        align-content: flex-start;
    }

    .social-wrapper {
        margin-right: 50%;
    }

    #slide-item {
        width: 510px !important;
    }

    .footer-col {
        padding: 15px;
        text-align: center;
    }
}


.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 363px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 363px;
}

.gmap_iframe {
    height: 363px !important;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.section-title h2 {
    font-size: 32px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    margin-bottom: 20px;
}

.section-title p {
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 40px;
}

.section-black-text p, .section-black-text h2 {
    color: white;
}

.enhanced-input,
.enhanced-textarea {
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 1rem;
    color: #000;
    background-color: #f9f9f9;
    transition: border-color 0.3s, background-color 0.3s;
    margin: 0 auto;
    padding: 0 20px;
}

.enhanced-input:focus,
.enhanced-textarea:focus {
    border-color: #4cae4c;
    background-color: #fff;
    color: #000;
}

.btn-submit {
    padding: 10px 20px;
    background-color: #000;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.confirmation-message {
    display: none;
    margin-top: 10px;
    padding: 30px;
    background-color: #e0f7fa;
    color: #00796b;
    border: 1px solid #00796b;
    border-radius: 10px;
    font-size: 1.2rem;
    text-align: center;
    animation: slideDown 1s forwards;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: teal;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 300px;
    color: white;
    text-align: center;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


@media (max-width:768px) {
    .other-columns {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-col {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        gap: 90px;
    }

    .subscribe-form {
        display: flex;
        gap: 10px;
    }
}

.social-wrapper a div i {
    color: #afb6c7;
}

.social-wrapper a div i:hover {
    color: #fff;
}
.confirmation-message {
    display: none;
    color: green;
    margin-top: 10px;
}
.nav_link{
    display: flex;
    gap: 10px;
}
.btn1{
    margin-right: 15px;
}
.btn2:hover{
    background-color: #36b0b3;
}
.sec-img {
    filter: drop-shadow(2px 2px 10px grey);
  }

.btn1 {
    position: relative;
    background-color: #3fbcc0a6;
    color: white;
    /* border: 2px solid #000; */
    border-radius: 10px;
    overflow: hidden;
    transition: color 0.3s ease;
    z-index: 1;
  }
  
  .btn1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #55a5ea;
    transition: width 0.3s ease;
    z-index: -1;
  }
  
  .btn1:hover {
    color: #fff;
  }
  
  .btn1:hover::before {
    width: 100%;
  }

  #btn {
    position: relative;
    background-color: #3fbcc0a6;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    transition: color 0.3s ease;
    z-index: 1;
  }
  
  #btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #55a5ea;
    transition: width 0.3s ease;
    z-index: -1;
  }
  
  #btn:hover {
    color: #fff;
  }
  
  #btn:hover::before {
    width: 100%;
  }

  .btn {
    position: relative;
    background-color: #3fbcc0a6;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    transition: color 0.3s ease;
    z-index: 1;
  }
  
  .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #55a5ea;
    transition: width 0.3s ease;
    z-index: -1;
  }
  
  .btn:hover {
    color: #fff;
  }
  
  .btn:hover::before {
    width: 100%;
  }

  .btn-submit {
    position: relative;
    background-color: #3fbcc0a6;
    color: white;
    border: 2px solid #000;
    border-radius: 10px;
    overflow: hidden;
    transition: color 0.3s ease;
    z-index: 1;
  }
  
  .btn-submit::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #55a5ea;
    transition: width 0.3s ease;
    z-index: -1;
  }
  
  .btn-submit:hover {
    color: #fff;
  }
  
  .btn-submit:hover::before {
    width: 100%;
  }


  .b {
    position: relative;
    background-color: #3fbcc0a6;
    color: white;
    border: 2px solid #000;
    border-radius: 10px;
    transition: color 0.3s ease;
    z-index: 1;
  }
  
  .b::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 6px;
    background-color: #55a5ea;
    transition: width 0.3s ease;
    z-index: -1;
  }
  
  .b:hover {
    color: #fff;
  }
  
  .b:hover::before {
    width: 100%;
  }
  
  .btn1{
    padding:10px;
  }
.about-card {
  perspective: 1000px;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.about-card:hover .card-inner {
  transform: rotateY(180deg);
}
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card-back {
    transform: rotateY(180deg);
    background-color: black;
    backface-visibility: hidden !important;
} 
.card-front {
    backface-visibility: hidden !important;
}  
.card-back img {
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .feedback-form button[type="submit"] {
      margin-left: 190px;
      margin-right: auto;
    }
  }
  
  @media screen and (min-width: 480px) and (max-width: 767px) {
    .feedback-form button[type="submit"] {
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media screen and (max-width: 479px) {
    .feedback-form button[type="submit"] {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      max-width: 10rem;
    }
  }
  @media screen and (min-width: 592px) and (max-width:933px) {
    .feedback-form button[type="submit"] {
      margin-left: 100px;
    }
  }
  @media screen and (min-width: 592px) and (max-width:941px) {
    .feedback-form button[type="submit"] {
      margin-left: 50px;
      width: 5rem;
    }
  }
  /*Appointment*/
  @media (width: 382px) and (height:592px){
    
    #appointment {
        width: 500px;
    }
  }
  /*Patient Portal*/
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .section-title h2 {
      font-size: 30px;
    }
    
    .section-title p {
      font-size: 16px;
    }
    
    .login-box {
      max-width: 400px;
    }
    
    .avatar img {
      max-width: 80%;
    }

    .avatar {
        margin: 30px -62px;
    }
    .visitor-counter{
        bottom: 1%;
        left: 4%;
    }
  }
  
  @media screen and (max-width: 767px) {
    .section-title h2 {
      font-size: 24px;
    }
    
    .section-title p {
      font-size: 14px;
    }
    
    .login-box {
      max-width: 100%;
      padding: 15px;
    }
    
    .avatar img {
      max-width: 60%;
    }
    
    .textbox input {
      padding: 8px 8px 8px 25px;
    }
    
    .btn {
      padding: 8px;
    }
    
    .register-link p, .forgot-password a {
      font-size: 12px;
    }
    .avatar {
        margin: 30px -62px;
    }
    .visitor-counter{
        bottom: 1%;
        left: 4%;
    }
  }
  @media screen and (width: 463px) and (height: 592px) {
    .section-title h2 {
      font-size: 30px;
    }
    
    .section-title p {
      font-size: 16px;
    }
    
    .login-box {
      max-width: 400px;
    }
    
    .avatar img {
      max-width: 30%;
    }

    .avatar {
        margin: 46px 15px;
    }
    .visitor-counter{
        bottom: 1%;
        left: 4%;
    }

  }
  .doc-app:hover{
    background-color: teal !important;
    font-size: 15px;

  }

  /*Effect to the image in aboutus section**/
  .about-img {
    filter: drop-shadow(30px 30px 30px rgba(17, 133, 137, 0.683));
  }