/* General Styles */
body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-color: #000;
  margin: 0;
  padding: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #55a5ea;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/* Header Styles */
.header_container {
  background-color: #022a2d;
  opacity: 0.9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin: auto;
  margin-top: 0px;
  padding-top: 15px;
}

.img {
  flex: 0 0 auto;
  margin-left: 20px;
}

#rd-logo {
  width: 90px; /* Increased logo size */
  height: auto;
}

/* Navigation Menu Styles */
.nav_menu {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_link {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav_link li {
  margin-right: 10px; /* Add space between items */
}

.nav_link li a {
  display: flex;
  align-items: center;
  padding: 3px 10px;
  color: white;
  text-decoration: none; /* Remove underline from links */
  transition: all 0.3s ease 0s;
  white-space: nowrap; /* Prevent text wrapping */
}

.nav_link li a:hover {
  color: #55a5ea;
}

/* Find a Doctor Button Styles */

.find-doctor {
  display: flex;
  align-items: center;
}

.find-doctor button {
  background-color: #4bb6b7;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
  margin-right: 8px; /* Optional: Add margin between button and other elements */
}

.find-doctor button:hover {
  background-color: #3aa5a6;
}

/* Container Styles */
.container {
  background-color: #022a2d;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 500px; /* Adjusted max-width for container */
  margin: 85px auto 20px; /* Adjusted top margin to accommodate reduced header height */
  transition: box-shadow 0.3s, transform 0.3s;
}

.container:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 30px rgba(255, 255, 255, 0.6);
  transform: scale(1.05);
}

.container h2 {
  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
}

.rating {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.rating .emoji {
  cursor: pointer;
  font-size: 40px; /* Increased emoji size */
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0.7;
}

.rating .emoji.selected {
  opacity: 1;
  transform: scale(1.2); /* Increased size on selection */
}

.rating .emoji:hover {
  opacity: 1;
}

textarea {
  width: calc(100% - 40px);
  height: 120px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: box-shadow 0.3s, transform 0.3s;
  background-color: #fff;
  color: #333;
  resize: none;
}

textarea:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
}

button {
  background-color: #4bb6b7;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
}

button:hover {
  background-color: #3aa5a6;
}

/* Mobile Navigation Styles */
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  /* Adjustments for mobile view */
  .nav_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 999; /* Ensure it's above the mobile nav toggle */
  }

  .nav_link {
    margin-top: 20px; /* Adjust spacing between main links and "Find a Doctor" */
  }

  .find-doctor {
    margin-top: 20px; /* Increase top margin for spacing */
  }
}

/* Footer Section Code */
:root {
  --text-color: #959DA5;
  --footer-bg: #3fbcc051;
  --footer-bottom-bg: #3fbcc051s;
  --white: white;
  --link-color: #959DA5;
  --link-hover: #2F81CF;
  --button-border: #848D97;
}
footer {
  bottom: 0;
  background-color: var(--footer-bg);
  width: 100%;
  min-width: 20re;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.footer-col p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
}

.footer-col form {
  display: flex;
  gap: 5px;
}

.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489c6;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
}

.footer-col input::placeholder {
  color: #ccc;
}

.footer-col form button {
  background: #fff;
  border: none;
  color: #08434551;
  padding: 10px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 700;
  transition: 0.2s ease;
}

.footer-col form button:hover {
  background: #cecccc;
}

/* other columns */
.other-columns {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 2rem 1rem;
  padding-top: 2rem;
}

.other-columns ul {
  display: flex;
  gap: 0.75rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  font-weight: 600;
}

.other-columns ul a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 0.85rem;
}

.other-columns ul a:hover {
  text-decoration: underline;
}

.other-columns h3 {
  color: var(--link-color);
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: ui-monospace, monospace;
}
/*? Footer bottom */
.footer-bottom {
  width: 100%;
  color: var(--text-color);
  background-color: var(--footer-bottom-bg);
}

.footer-bottom-wrapper {
  display: flex;
  max-width: 80rem;
  margin: 0 auto;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 1rem;
}

.footer-bottom small {
  font-size: 1rem;
  display: inline;
  white-space: nowrap;
}

.footer-bottom-links {
  list-style-type: none;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.footer-bottom-links a {
  color: var(--link-color);
  text-decoration: none;
  white-space: nowrap;
}

.footer-bottom-links a:hover {
  color: var(--link-hover);
  text-decoration: underline;
}

.footer-bottom>small {
  font-size: 1rem;
  margin: 0 auto;
  width: 100%
}

/*? socials */
.social-wrapper {
  display: flex;
  gap: 0.5rem;
  margin: 0 auto;
}

.social-links {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
}

.social-links img {
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.2s ease-in-out;
}

.social-links img:hover {
  transform: scale(1.1);
}

.social-links ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  list-style-type: none;
}

.footer-bottom-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 600px) {
  .other-columns {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
  }

  .footer-bottom-wrapper {
      flex-direction: row;
  }
  .footer-bottom-wrapper small{
    font-size: smaller;
  }
  .footer-bottom-links {
      margin-left: 1.5rem;
  }
}
@media (max-width: 800px) {
  .footer-top {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 1rem 0.5rem 2rem 0.5rem;
  }
}