@import url("https://fonts.googleapis.com/css2?family=Poppins");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  background: black;  
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  height: 100vh;
}
.top-left-corner {
  position: absolute;
  top: 10px;
  left: 50px;
}
.eye.active {
  color: #007bff; /* Change this to whatever color you prefer */
}


.home-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.home-button:hover {
  background-color: #6be1f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.home-button svg {
  fill: #4bb6b7;
  width: 30px;
  height: 30px;
}

h1 {
  font-weight: 700;
  letter-spacing: -1.5px;
  margin: 0;
  margin-bottom: 15px;
}

h1.title {
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  text-shadow: 0 0 10px rgba(16, 64, 74, 0.5);
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
  text-shadow: 0 0 10px rgba(16, 64, 74, 0.5);
}

span {
  font-size: 14px;
  margin-top: 25px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
  transition: 0.3s ease-in-out;
}

a:hover {
  color: #4bb6b7;
}

.content {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-around;
}

.content .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content input {
  accent-color: #333;
  width: 12px;
  height: 12px;
}

.content label {
  font-size: 14px;
  user-select: none;
  padding-left: 5px;
}

button {
  position: relative;
  border-radius: 20px;
  border: 1px solid #022a2d;
  background-color: #022a2d;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  margin: 10px;
  padding: 12px 80px;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
}

button:hover {
  letter-spacing: 3px;
  background-color: #28cacd;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: rgba(225, 225, 225, 0.2);
  border: 2px solid #fff;
  color: #fff;
}

button.ghost i{
  position: absolute;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

button.ghost i.register{
  right: 70px;
}

button.ghost i.login{
  left: 70px;
}

button.ghost:hover i.register{
  right: 40px;
  opacity: 1;
}

button.ghost:hover i.login{
  left: 40px;
  opacity: 1;
}

form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border-radius: 10px;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.container {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 500px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.login-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .login-container {
  transform: translateX(100%);
}

.register-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .register-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translate(-100%);
}

.overlay {
  background-image: url('image.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(46, 94, 109, 0.4) 40%,
    rgba(46, 94, 109, 0)
  );
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  transition: 0.3s ease-in-out;
}

.social-container #fb:hover {
  color: white;
  background-color: #1877F2;
}
.social-container #lin:hover {
  color: white;
  background-color: #0A66C2;
}
.social-container #goog:hover {
  color: white;
  background-color: #34A853;
}



/* Adjustments for screens smaller than 1024px */
@media (max-width: 1024px) {
  .container {
    width: 80%;
  }

  .overlay-panel {
    padding: 0 30px;
  }

  h1 {
    font-size: 1.8rem;
  }

  input {
    padding: 10px;
    font-size: 1rem;
  }

  button {
    padding: 10px 30px;
    font-size: 1rem;
  }
}

/* Adjustments for screens smaller than 768px */
@media (max-width: 768px) {
  .container {
    width: 90%;
    min-height: 450px;
    padding: 20px;
  }

  form {
    padding: 0 20px;
  }

  input {
    padding: 10px;
    margin: 6px 0;
    font-size: 0.9rem;
  }

  button {
    padding: 10px 30px;
    margin: 8px;
    font-size: 0.9rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .overlay {
    width: 100%;
    left: 0;
    transform: none;
  }

  .overlay-panel {
    width: 100%;
    position: relative;
    transform: none;
    padding: 20px;
  }

  .overlay-left{
    display: none;
  }

}

/* Further adjustments for screens smaller than 480px */
@media (max-width: 480px) {
  .container {
    width: 100%;
    min-height: 400px;
    padding: 10px;
  }

  h1 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  input {
    padding: 8px;
    margin: 5px 0;
    font-size: 0.8rem;
  }

  button {
    padding: 8px 20px;
    margin: 6px;
    font-size: 0.8rem;
  }

  .overlay {
    height: 100%;
  }

  .overlay-panel {
    padding: 10px;
  }
}
/* Banner styling */
#successBanner {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: green;
  color: white;
  text-align: center;
  z-index: 1000;
  font-size: 1.2rem;
}
.toggle-password {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.toggle-password svg {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
}

/* Additional styles for password container */
.password-container {
  position: relative;
  width: 100%;
}

.password-container input {
  padding-right: 30px; /* Adjust based on your eye icon size */
}

.container{
  background-color: #143C3D;
}
form{
  background-color: #143C3D;
}
.pass-link a{
  color: cadetblue;
}
.pass-link a:hover{
  color:aqua;
}

input[type="checkbox"] {
  accent-color: aqua;
}
.checkbox label{
  color:whitesmoke;
}
span{
  color:whitesmoke;
}
.social-container a{
  color: whitesmoke;
}
.social-container a:hover{
  color: #4BB6B7;
}
.home-button{
  background-color: #022A2D;
  border:none;
}