.about-us {
  display: block;
  margin: auto;
  width: 52.5rem;
  height: 100%;
}

.about-us-heading {
  text-align: center;
  font-size: 40px;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.about-service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -40px;
}

.sec-1,
.sec-2 {
  flex: 1 1 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec-1 img {
  width: 100%;
  max-width: 520px;
  height: auto;
  margin: 30px;
}

.sec-2 {
  flex-direction: column;
  gap: 8px;
  padding: 20px;
}

.a-1,
.a-2,
.a-3 {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #111111;
  border-radius: 11px;
  width: 100%;
  max-width: 500px;
  padding: 10px;
  margin: 5px 0;
}

.a-l,
.b-l,
.c-l {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: 2px solid #2f7f81;
}

.a-r,
.b-r,
.c-r {
  margin-left: 15px;
  color: white;
}

.head-1 {
  font-size: 18px;
  font-weight: bold;
}

.head-2 {
  font-size: 14px;
  margin-top: 5px;
}

.about-us-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 80px;
}

.about-us-community,
.about-us-product,
.about-us-event,
.about-us-location {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 45%;
  max-width: 400px;
  height: auto;
  border: 2px solid #1c413b;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 21px;
  transition: background 0.3s, color 0.3s;
}

.about-us-community:hover,
.about-us-product:hover,
.about-us-event:hover,
.about-us-location:hover {
  background: #1c413b;
  color: white;
}

.about-us-blk-text {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.about-us-blk-para {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin: 0 1rem;
}

@media only screen and (max-width: 1250px) {
  .about-us {
    width: 90%;
  }

  .about-service {
    flex-direction: column;
    align-items: center;
  }

  .sec-1,
  .sec-2 {
    width: 100%;
  }

  .sec-1 img {
    margin: 20px;
  }

  .about-us-block {
    flex-direction: column;
    align-items: center;
  }

  .about-us-community,
  .about-us-product,
  .about-us-event,
  .about-us-location {
    width: 90%;
    max-width: 600px;
  }
}

@media only screen and (max-width: 768px) {
  .about-us-heading {
    font-size: 32px;
  }

  .about-service {
    margin-left: 0;
  }

  .about-us-community,
  .about-us-product,
  .about-us-event,
  .about-us-location {
    width: 100%;
  }

  .about-us-blk-text {
    font-size: 18px;
  }

  .about-us-blk-para {
    font-size: 14px;
  }
}
