*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
}

.logo a{
    text-decoration: none;
margin-top: -18px;
    position: absolute;
    left: 45%;
    font-size: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
 #topbar1 {
    height: 50px;
    font-size: 14px;
    transition: all 0.5s;
    z-index: 996;
  }
  
  #topbar1.topbar-scrolled {
    top: -40px;
  }
  
  
  
  
  
  #topbar1 .social-links a {
    margin-top: -40px;
    color: #3fbbc0;
    padding-left: 15px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
    transform: translateY(-100px);

    
  }
  #topbar1 .social-links a:hover {
    color: #fff;
  }
.container{
    margin-top: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
    gap: 40px 60px;
}
.container .drop{
    position: relative;
    background: #e9e8e8;
    width: 280px;
    height: 280px;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.07),
    25px 35px 20px rgba(0, 0, 0, 0.07),
    25px 30px 30px rgba(0, 0, 0, 0.07),
    inset -20px -20px 25px rgba(255, 255, 255, 1);
    transition: 0.5s ease-in-out;
}
.container .drop:nth-child(1){
    border-radius: 56% 44% 33% 67% / 43% 35% 65% 57% ;
}
.container .drop:nth-child(2){
    border-radius: 35% 65% 33% 67% / 44% 44% 56% 56%  ;
}
.container .drop:nth-child(3){
    border-radius: 63% 37% 33% 67% / 63% 44% 56% 37%   ;
}
.container .drop:nth-child(4){
    border-radius: 35% 65% 33% 67% / 44% 21% 79% 56%  ;
}
.container .drop:nth-child(5){
    border-radius: 30% 70% 45% 55% / 30% 25% 75% 70%  ;
}
.container .drop:nth-child(6){
    border-radius: 35% 65% 33% 67% / 44% 21% 79% 56%  ;
}
.container .drop:nth-child(7){
    border-radius: 35% 65% 33% 67% / 44% 21% 79% 56%  ;
}
.container .drop:nth-child(8){
border-radius: 56% 44% 33% 67% / 43% 35% 65% 57%  ;
}
.container .drop:hover{
    border-radius: 50%;
}
.container .drop::before{
    content: '';
    position: absolute;
    top: 42px;
    left: 65px;
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    opacity: 0.9;
}
.container .drop::after{
    content: '';
    position: absolute;
    top: 75px;
    left: 105px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    opacity: 0.9;
}
@media (max-width: 992px){
    .container{
        display: grid;
    }
    .container .drop:nth-child(1){
        position: relative;
        left: 30%;
        height: 500px;
        width: 500px;
    }
    .container .drop:nth-child(2){
        position: relative;
        left: -29%;
        height: 500px;
        width: 500px;
    }
    .container .drop:nth-child(3){
        position: relative;
        left: 32%;
        height: 500px;
        width: 500px;
    }
    .container .drop:nth-child(4){
        position: relative;
        left: -20%;
        height: 500px;
        width: 500px;
    }
    .container .drop:nth-child(5){
        position: relative;
        left: 10%;
        height: 500px;
        width: 500px;
    }
    .container .drop:nth-child(6){
        position: relative;
        left: -40%;
        height: 500px;
        width: 500px;
    }
    .container .drop:nth-child(7){
        position: relative;
        left: 35%;
        height: 500px;
        width: 500px;
    }
    .container .drop:nth-child(8){
        position: relative;
        left: -40%;
        height: 500px;
        width: 500px;
    }
  
    .container .drop::before{
        content: '';
        position: absolute;
        top: 130px;
        left: 65px;
        width: 35px;
        height: 35px;
        background: #fff;
        border-radius: 50%;
        opacity: 0.9;
    }
    .container .drop::after{
        content: '';
        position: absolute;
        top: 160px;
        left: 115px;
        width: 15px;
        height: 15px;
        background: #fff;
        border-radius: 50%;
        opacity: 0.9;
    }
}
.container .drop .content{
position: relative;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
gap: 15px
}

.container .drop .content h2{
    position: relative;
    width: 80px;
    height: 80px;
    background: #eff0f4;
    border-radius: 50%;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1),
    inset -2px -5px 10px rgba(255, 255, 255, 1),
    15px 15px 10px rgba(0, 0, 0, 0.05),
    15px 10px 15px rgba(0, 0, 0, 0.025);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: var(--clr);
}
.container .drop .content a{
    position: relative;
    padding: 10px 25px;
    background: var(--clr);
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    font-weight: 500;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    opacity: 0.75;
    transition: 0.5s;
}
.container .drop .content a:hover{
    opacity: 1;
}
.container .drop .content a::before{
    content: '';
    position: absolute;
    width: 65%;
    top: 8px;
    transform: translateX(-50%);
    height: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
}
@media (max-width: 992px){
    #topbar1 {
        background: #022a2d;
        height: 100px;
        font-size: 14px;
        transition: all 0.5s;
        z-index: 996;
      }
      .logo a{
        font-size: 28px;
    line-height: 36px;
      }
}
.ltr{
    color: black !important;
}

  a {
    color: #55a5ea;
    text-decoration: none;
  }
  
  a:hover {
    color: #55a5ea;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }
  
  .nav_link li {
    padding: 5px 20px;
    display: inline-block;
    color: white;
  }
  
  .nav_link li a {
    transition: all 0.3s ease 0s;
    color: white;
  }
  button {
    position: relative;
    border-radius: 10px;
    border: 1px solid #4bb6b7;
    background-color: #4bb6b7;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    margin: 8px;
    padding: 8px 50px;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: 0.3s ease-in-out;
  }
  
  .nav_link li a:hover {
    color: #55a5ea;
  
    /* text-decoration: underline 2.5px rgb(3, 3, 94); */
  }
  
  .header_container {
    /* background-color: #d9d9d9; */
    background-color: #022a2d;
    opacity: 0.9;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: auto;
    width: 100%;
  }

  #footer {
    background: #000;
    padding: 0 0 20px 0;
    color: #fff;
    font-size: 14px;
    width: 100%;
    padding: 50px;
  }
  
  #footer .footer-top {
    background: #000;
    padding: 20px 0 20px 0;
  }
  
  #footer .footer-top .footer-info {
    margin-bottom: 20px;
  }
  
  #footer .footer-top .footer-info h3 {
    font-size: 50px;
    margin: 0 0 20px 0;
    color: #57a6ea;
    padding: 2px 0 2px 0;
    line-height: 1;
  }
  
  #footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #57a6ea;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  .footer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 95%;
    background: #3fbcc051;
    border-radius: 6px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5rem;
    padding: 20px;
  }
  
  .row  h4 {
    color: #f0f0f0;
    font-size: 1.2rem;
    font-weight: 400;
  }
  
  footer .links {
    margin-top: 20px;
  }
  
  footer .links li {
    list-style: none;
    margin-bottom: 10px;
  }
  
  .footer-col .links li a {
    text-decoration: none;
    color: #bfbfbf;
  }
  
  .footer-col .links li a:hover {
    color: #fff;
  }
  
  .footer-col p {
    margin: 20px 0;
    color: #bfbfbf;
    max-width: 300px;
  }
  
  .footer-col form {
    display: flex;
    gap: 5px;
  }
  
  .footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #7489c6;
    caret-color: #fff;
    color: #fff;
    padding-left: 10px;
  }
  
  .footer-col input::placeholder {
    color: #ccc;
  }
  
  .footer-col form button {
    background: #fff;
    border: none;
    color: #08434551;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 1000;
    transition: 0.2s ease;
  }
  
  .footer-col form button:hover {
    background: #cecccc;
  }
  /*
   .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
  }
  
   .icons i {
    color: #afb6c7;
  }
  
   .icons i:hover {
    color: #fff;
  }
  */
  @media (max-width: 768px) {
    .footer {
      position: relative;
      bottom: 0;
      left: 0;
      transform: none;
      width: 100%;
      border-radius: 0;
    }
  
    .footer .footer-row {
      padding: 20px;
      gap: 1rem;
    }
  
    .footer-col form {
      display: block;
    }
  
    .footer-col form :where(input, button) {
      width: 100%;
    }
  
    .footer-col form button {
      margin: 10px 0 0 0;
    }
  }
  
  #footer .footer-top .social-links a:hover {
    background: #57a6ea;
    text-decoration: none;
  }
  
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #57a6ea;
    font-size: 18px;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    color: #57a6ea;
  }
  
  #footer .footer-top .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
  }
  
  #footer .footer-top .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
  }
  
  #footer .footer-top .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #57a6ea;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
  }
  
  #footer .footer-top .footer-newsletter form input[type="submit"]:hover {
    background: #57a6ea;
  }
  
  .copyright {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
  .copyright strong{
    margin-left: 5px;
  }