body {
    background-color: black;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
}

.items {
    width: 25vw;
    height: 100%;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
}

.item1,
.item2,
.item3 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 20vh;
    background-color: #39365b;
    backdrop-filter: blur(20px);
    border: 1px solid #332e5e;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    font-weight: bold;
}

.doc {
    flex: 1 1 300px;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.docimg {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.text {
    flex: 1 1 300px;
    max-width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.head1 {
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.head2 {
    color: wheat;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
}

.text input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    font-size: 1rem;
}

.text button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ADA996;
    font-size: 1rem;
    cursor: pointer;
}

/* Media Query for Small Screens (up to 768px) */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
   

    .item1, .item2, .item3 {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%; /* Maximum width of each item */
        height: 20px; /* Allow height to adjust based on content */
        padding: 1rem; /* Padding for spacing */
        text-align: center; /* Center text content */
        color: white;
        background-color: #39365b;
        border: 1px solid #332e5e;
        border-radius: 10px;
        margin-bottom: 1rem; /* Margin bottom for spacing */
    }
    
    .items {
        
        width: 90vw; /* 25% of the viewport width */
        height: 20vh; /* Full viewport height */
        z-index: 20; /* Optional: Set z-index if needed */
    }

    .doc, .text {
        flex: 1 1 100%;
        max-width: 100%;
    }
}