body {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#map {
    height: 90%;
    width: 100%;
}

.tag {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}
