/*=============== APP ===============*/
.app{
    &__container{
        gap: 2.5rem;
    }
    &__data{
        text-align: center;
    }
    &__description{
        margin-bottom: var(--mb-1-5);
    }
    &__buttons{
        display: grid;
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        gap: .5rem
    }
}
