.cursor{
    z-index: 999;
    background: rgb(11, 173, 198);
    position: fixed;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px rgb(11, 173, 198),
                0 0 60px rgb(11, 173, 198),
                0 0 100px rgb(11, 173, 198);

    animation: colors 5s infinite; 
    transform: translate(-50%,-50%);           


}

@keyframes colors {
    0%{
       filter: hue-rotate(0deg);
    }
  
}

.cursor:before{
    size: 100px;
    content: '';
    position: absolute;
    background: rgb(11, 173, 198);
    width: 50px;
    height: 50px;
    opacity: 0.2;
    transform: translate(-30%,-30%);
    border-radius: 50%;

}
